In [1]:
import pandas as pd
import re

## 데이터 프로세싱

In [59]:
df = pd.read_csv('data/seed_42/data_train.csv')

In [63]:
print(len(df))
clean_df = df[~df['TEXT'].str.contains('�|&lt;#&gt;', na=False)]
print(len(clean_df))

4835
4575

In [65]:
clean_df.to_csv('data/seed_42/clean_data_train.csv',index=False)

## 데이터 class 비율에 맞게 셈플

In [73]:
# Load the dataset
df_test = pd.read_csv('data/seed_42/data_test.csv')

# Find the minimum label count
min_count = df_test['LABEL_ID'].value_counts().min()

# Sample an equal number of rows for each label
df_sampled = df_test.groupby('LABEL_ID', group_keys=False).apply(lambda x: x.sample(n=min_count))

# Shuffle the sampled DataFrame
# df_sampled = df_sampled.sample(frac=1).reset_index(drop=True)

In [74]:
df_sampled

,LABEL,TEXT,URL,EMAIL,PHONE,LABEL_ID
286,ham,No need to ke qi... Ü too bored izzit y sudden...,No,No,No,0
552,ham,It's é only $140 ard...É rest all ard $180 at ...,No,No,No,0
44,ham,What I'm saying is if you haven't explicitly t...,No,No,No,0
297,ham,Was gr8 to see that message. So when r u leavi...,No,No,No,0
161,ham,Left dessert. U wan me 2 go suntec look 4 u?,No,No,No,0
...,...,...,...,...,...,...
417,spam,Hi ya babe x u 4goten bout me?' scammers getti...,No,No,No,2
484,spam,To review and KEEP the fantastic Nokia N-Gage ...,yes,No,No,2
434,spam,Wanna get laid 2nite? Want real Dogging locati...,No,No,yes,2
420,spam,"Welcome to Select, an O2 service with added be...",No,No,No,2
367,spam,Boltblue tones for 150p Reply POLY# or MONO# e...,No,No,No,2

In [75]:
df_sampled["LABEL_ID"].value_counts()

0    49
1    49
2    49
Name: LABEL_ID, dtype: int64